{% extends 'movies/base.html' %}
{% load static %}
{% block title %}My movies{% endblock %}
{% block content %}

<div class="d-flex flex-column overflow-hidden home-container">
    <h1 class="display-4 text-center">Películas más recientes</h1>
    <div class="d-flex justify-content-between p-5 overflow-auto movie-container-carrusel">
        {% for movie in movies %}
        <div class="img-thumbnail movie-item">
            <img class="img-fluid rounded" style="max-width: 200px; height: auto;" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"/>
            <p>{{ movie.title }}</p>
            {% for genre in movie.genres.all %}
                <span class="">{{ genre.name }}</span>
            {% endfor %}
            <a href="/movie/{{movie.tmdb_movie_id}}" class="btn btn-primary">Ver más</a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="d-flex flex-column overflow-hidden home-container">
    <h1 class="display-4 text-center">Películas recomendadas</h1>
    <div class="flex-fill p-3 overflow-auto movie-container">
        {% for movie in movies %}
            <img class="img-fluid img-thumbnail" style="max-width: 200px; height: auto;" src="https://image.tmdb.org/t/p/original{{ movie.poster_path }}"/>
        {% endfor %}
    </div>
{% endblock %}
