{% extends 'movies/base.html' %}
{% load static %}
{% block title %}My movies{% endblock %}
{% block content %}

<div class="d-flex flex-column overflow-hidden home-container">
    <h1 class="display-4 text-center">La pelicula</h1>
    <div class="d-flex justify-content-between p-5 overflow-auto movie-container">
        <img class="img-fluid rounded" style="max-width: 200px; height: auto;" src="https://image.tmdb.org/t/p/original{{ credits.first.movie.poster_path }}"/>
        <p>{{ credits.first.movie.title }}</p>
        <p>{{ credits.first.movie.overview }}</p>
        {% for credit in credits %}        
            <div class="img-thumbnail movie-item">
                <span class="">{{ credit.actor.name }}</span>
                <a href="/actor/{{credit.actor.tmdb_actor_id}}"class="btn btn-primary">Ver más</a>
            </div>
        {% endfor %}
    </div>
</div>
<div>   
    <h1 class="display-4 text-center">Reviews</h1>
    {% if reviews %}
        {% for review in reviews %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ review.user }}</h5>
                    <p class="card-text">{{ review.review }}</p>
                    <p class="card-text">{{ review.rating }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No reviews yet</p>
    {% endif %}
</div>

<h1 class="display-4 text-center">Add a review</h1>
<form method="POST" action="/movie/{{ credits.first.movie.tmdb_movie_id }}/review">
    {% csrf_token %}
    <div class="form-group">
        <label for="review">Review</label>
        <textarea class="form-control" id="review" name="review" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" min="1" max="5">
    </div>
    <input type="hidden" name="movie_id" value="{{ credits.first.movie.tmdb_movie_id }}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}